<h1>Details of the user</h1>

<div class="details">
  <ul>
    <li>Firstname: {{user.firstName}}</li>
    <li>Lastname: {{user.lastName}}</li>
    <li>Email: {{user.email}}</li>
    <li>Pseudo: {{pseudo}}</li>
  </ul>
</div>
<div class="commands">
  <a href="/edit/{{user._id}}">Edit an user</a>
</div>
<div class="commands">
  <a href="/">Back to list</a>
</div>